{% extends "main.jinja" %}
{% block extra_head %}
  <title>{{title}}</title>
{% endblock %}
{% block content %}
<main class="container">
  {% for post in g.posts %}
    <h1> title {{ post.metadata.title }} </h1>
  {% endfor %}
</main>
{% endblock %}
